section{
    margin-bottom:150px;
}
#back{
    background: url('/static/single_pages/images/cloud.png') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
}
.card {
    background-color: rgba(255, 255, 255, 0.6);
}
#ico{
            font-size : 200px;
            background-color: white;
            border: 0px;
        }