{% extends 'item/base.html' %}
{% load crispy_forms_tags %}
{% block main_area %}
{% load static %}
<link rel="stylesheet" href="{% static 'item/css/item_detail.css' %}" type="text/css" media="screen">
    <section class="py-5">
            {% if user.is_authenticated and user == item.author %}
                <a href="/item/update_item/{{item.pk}}/" role="button"
                   class="btn btn-info btn-sm float-right" id="edita">
                    <i class="fas fa-pen"></i> Edit Item
                </a>
            {% endif %}
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    {% if item.head_image %}
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{item.head_image.url}}" alt="{{item}}의 head_image" /></div>
                    {% else %}
                        <img class="col-md-6" src="https://picsum.photos/seed/{{item.pk}}/800/200" alt="random image" />
                    {% endif %}
                    <div class="col-md-6">
                        <h2 class="display-5 fw-bolder">{{item.name}}</h2><br>
                        <div class="fs-5 mb-5">
                            {% if item.category %}
                                    <span class="badge badge-light float-right">
                                        <a href="{{item.category.get_absolute_url}}">{{item.category}}</a>
                                    </span>
                                {% else %}
                                    <span class="badge badge-light float-right">
                                        <a href="/item/category/no_category/">미분류</a>
                                    </span>
                                {% endif %}
                            <h5 class="text-decoration-line-through">{{item.price}}원</h5>
                            <span>제조사 : {{item.manufacturer | upper}}</span><br>
                            {% if item.seller %}
                                판매자 : <a href="{{item.seller.get_absolute_url}}">{{item.seller}}</a><br>
                            {% else %}
                                <a href="/item/seller/no_seller/">셀러없음</a>
                            {% endif %}
                            <br><br><span>{{item.content}}</span>
                        </div>
                        <div>
                          <form action="{% url 'item:likes' item.pk %}" method='POST' class="float-right mr-2">
                            {% csrf_token %}
                              {% if user.is_authenticated %}
                                {% if user in item.like_users.all %}
                                  <input type="submit" value='♥  찜하기 취소'  id="inputheart">
                                {% else %}
                                  <input type="submit" value='♡  찜하기' id="inputheart">
                                {% endif %}
                              {% endif %}
                          </form>
                        </div>
                        {% if item.tags.exists %}
                                <i class="fas fa-tag"></i>
                                {% for t in item.tags.iterator %}
                                    <span class="badge badge-pill badge-light">
                                        <a href="{{t.get_absolute_url}}">{{t}}</a>
                                    </span>
                                {% endfor %}
                                <br><br>
                            {% endif %}
                    </div>
                </div>
            </div>
        </section>
                    <div id="comment-area" class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if user.is_authenticated %}
                                <form class="mb-4" id="comment-form" method="post"
                                action="{{item.get_absolute_url}}new_comment/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{comment_form | crispy}}
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="btnsubmit">댓글 달기</button>
                                </form>
                                {% else %}
                                <a role="button" class="btn btn-dark btn-block btn-sm mb-5" href="#"
                                    data-toggle="modal" data-target="#LoginModal">
                                    로그인 후 댓글기능을 이용하실 수 있습니다.
                                </a>
                                {% endif %}
                                {% if item.comment_set.exists %}
                                    {% for comment in item.comment_set.iterator %}
                                            {% if comment.parent == null %}
                                            <div class="media d-flex mt-3" id="comment-{{comment.pk}}">
                                                <img class="mr-3 rounded-circle" src="{{comment.get_avatar_url}}" width="60px" alt="{{comment.author}}">
                                                <div class="media-body ms-3">
                                                {% if user.is_authenticated and comment.author == user %}
                                                    <div class="float-right">
                                                        <a role="button" class="btn btn-sm btn-light mr-1"
                                                           href="/item/update_comment/{{comment.pk}}/" id="btned" >Edit</a>
                                                        <a role="button" href="#" id="comment-{{ comment.pk }}-delete-modal-btn"
                                                           class="btn btn-sm float-right btn-dark" style="background-color:#FF6347;border-color:#FF6347;"
                                                           data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">Delete</a>
                                                    </div>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog"
                                                         aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="deleteModalLabel">정말 댓글을 삭제하시겠습니까?</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <del>{{ comment.content | linebreaks }}</del>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                    <a role="button" class="btn btn-danger" href="/item/delete_comment/{{ comment.pk }}/">Delete</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    {% if user.is_authenticated %}
                                                    <div class="float-right" id="divrc">
                                                    <a role="button" href="#" id="comment-{{ comment.pk }}-recomment-modal-btn"
                                                           class="btn btn-sm float-right btn-dark"
                                                           data-toggle="modal" data-target="#reCommentModal-{{ comment.pk }}">Recomment</a>
                                                    </div>
                                                    {% endif %}
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="reCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog"
                                                         aria-labelledby="reCommentModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="reModalLabel">Recomment</h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="mb-4" id="recomment-form" method="post"
                                                                        action="{{comment.get_absolute_url2}}/re_comment/">
                                                                            {% csrf_token %}
                                                                            <div class="form-group">
                                                                                {{comment_form | crispy}}
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary float-right" id="btnrc">Submit</button>
                                                                        </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <div class="fw-bold">
                                                    {{comment.author.username}}
                                                    <small class="text-muted">{{comment.created_at}}</small>
                                                </div>
                                                <p>{{comment.content | linebreaks}}</p>
                                                {% if comment.created_at != comment.modified_at %}
                                                <p class="text-muted float-right">
                                                    <small>Updated : {{comment.modified_at}}</small>
                                                </p>
                                                {% endif %}
                                            </div>
                                            </div>
                                            {% endif %}
                                            {% for recomment in item.comment_set.iterator %}
                                                {% if comment == recomment.parent %}
                                                <!-- 대댓글 -->
                                                <div class="media d-flex ml-4">
                                                    <div class="media d-flex w-100" id="comment-{{recomment.pk}}">
                                                    {% if comment.type is not None %}
                                                        <img class="mr-3 rounded-circle" src="{{recomment.get_avatar_url}}" width="60px" alt="{{comment.author}}" />
                                                    {% else %}
                                                        <img class="mr-3 rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" width="60px" alt="{{comment.author}}" />
                                                    {% endif %}
                                                    <div class="media-body ms-3">
                                                    {% if user.is_authenticated and recomment.author == user %}
                                                        <div class="float-right">
                                                            <a role="button" class="btn btn-sm btn-light mr-1"
                                                               href="/item/update_comment/{{recomment.pk}}/" id="btned">Edit</a>
                                                            <a role="button" href="#" id="comment-{{ recomment.pk }}-delete-modal-btn"
                                                               class="btn btn-sm float-right btn-dark" style="background-color:#FF6347;border-color:#FF6347;"
                                                               data-toggle="modal" data-target="#deleteCommentModal-{{ recomment.pk }}">Delete</a>
                                                        </div>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="deleteCommentModal-{{ recomment.pk }}" tabindex="-1" role="dialog"
                                                             aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <del>{{ recomment.content | linebreaks }}</del>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                        <a role="button" class="btn btn-danger" href="/item/delete_comment/{{ recomment.pk }}/">Delete</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <div class="fw-bold">
                                                        {{recomment.author.username}}
                                                        <small class="text-muted">{{recomment.created_at}}</small>
                                                    </div>
                                                    <p>{{recomment.content | linebreaks}}</p>
                                                    {% if recomment.created_at != recomment.modified_at %}
                                                    <p class="text-muted float-right">
                                                        <small>Updated : {{recomment.modified_at}}</small>
                                                    </p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
{% endblock %}
