{% extends 'item/base.html' %} <!-- 10 모듈화하고 이거 붙이기 -->
{% block main_area %}
    {% if user.is_authenticated %}
            {% if user.is_superuser or user.is_staff %}
                <a href="/item/create_item/" role="button"
                   class="btn btn-info btn-sm float-right">
                    <i class="fas fa-pen"></i> New Item
                </a>
            {% endif %}
        {% endif %}
                <h2>Item
                    {% if search_info %}
                    - <small class="text-muted">{{ search_info }}</small>
                    {% endif %}
                    {% if category %}
                    - <span class="badge badge-secondary">{{ category }}</span>
                    {% endif %}
                    {% if seller %}
                    - <span class="badge badge-secondary">{{ seller }}</span>
                    <div class="card mt-1">
                              <div class="card-body">
                                  <h5>판매자 정보 - </h5>
                                  <h4 class="font-weight-bold"> {{ seller.name }} </h4>
                                      <h5>주소 : {{ seller.address }} <br>
                                      연락처 : {{ seller.phone }} <br>
                                          사업자등록번호 : {{ seller.bnum }}</h5>
                              </div>
                          </div>
                    {% endif %}
                    {% if tag %}
                    - <i class="fas fa-tag"></i>
                    <span class="badge badge-secondary">
                        {{ tag }} ({{tag.item_set.count}})
                    </span>
                    {% endif %}
                </h2>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% if item_list.exists %}
                    <!--13 반복-->
                        {% for p in item_list %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                {% if p.head_image %} <!--16 이미지 없는 글일때 쓰려고 detail도 똑같이 -->
                                    <a href="#!" ><img class="card-img-top" src="{{p.head_image.url}}" alt="{{p}}의 head_image" /></a> <!--15 이미지 소스 추가 ,detail로 이동-->
                                {% else %}<!-- 16 랜덤 이미지 -> post_detail로 이동-->
                                    <img class="card-img-top" src="https://picsum.photos/seed/{{p.pk}}/800/200" alt="random image" />
                                {% endif %}
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    {% if p.category %}
                                        <span class="badge float-right">
                                            <a href="{{p.category.get_absolute_url}}">{{p.category}}</a>
                                        </span>
                                    {% else %}
                                        <span class="badge float-right">
                                            <a href="/item/category/no_category/">미분류</a>
                                        </span>
                                    {% endif %}
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <br>
                                        <h4 class="fw-bolder ">{{p.name}}</h4>
    <!--                                    <a href="#">{{p.seller | upper}}</a><br>-->
                                        <!-- Product author-->
                                        {{p.price}}원<br>
    <!--                                    {{p.author}}<br>-->
                                        <!-- Product publisher-->
    <!--                                    {{p.manufacturer | upper}}<br>-->
                                        {{p.content | truncatechars:20 }}
                                    </div>
                                    {% if p.tags.exists %}
                                        <i class="fas fa-tag"></i>
                                        {% for t in p.tags.iterator %}
                                            <span class="badge badge-pill badge-light">
                                                <a href="{{t.get_absolute_url}}">{{t}}</a>
                                            </span>
                                        {% endfor %}
                                        <br><br>
                                    {% endif %}
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-1 pd-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{p.get_absolute_url}}">View details</a></div>
    <!--                                <a href="#">{{p.admin | upper}}</a> &lt;!&ndash; 11 작성자 &ndash;&gt;-->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <h5>아무 게시물이 없습니다.</h5>
                    {% endif %}

                </div>
                {% if is_paginated %}
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Newer</a>
                                </li>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Older</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Older</a>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>
                {% endif %}
            </div>
        </section>
{% endblock %}