{% extends 'item/base.html' %} <!-- 10모듈화하고 이거 붙이기 -->
{% load crispy_forms_tags %}
{% block main_area %}
        <!-- Product section-->


        <section class="py-5">
            {% if user.is_authenticated and user == item.author %}
                <a href="/item/update_item/{{item.pk}}/" role="button"
                   class="btn btn-info btn-sm float-right" style="background-color:#FF6347;border-color:#FF6347;">
                    <i class="fas fa-pen">Edit Item</i>
                </a>
            {% endif %}
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    {% if item.head_image %} <!--16 이미지 없는 글일때 쓰려고 detail도 똑같이 -->
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{item.head_image.url}}" alt="{{item}}의 head_image" /></div> <!--15 이미지 소스 추가 ,detail로 이동-->
                    {% else %}<!-- 16 랜덤 이미지 -> post_detail로 이동-->
                        <img class="col-md-6" src="https://picsum.photos/seed/{{item.pk}}/800/200" alt="random image" />
                    {% endif %}
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">{{item.name}} <p class="lead">by {{item.author}}</p> </h1>
<!--                        {% if item.hook_text %} &lt;!&ndash; 9 hooktext text-muted는 회색 &ndash;&gt;-->
<!--                            <h5 class="text-muted">{{item.hook_text}}</h5>-->
<!--                        {% endif %}-->
                        <div class="fs-5 mb-5">
                            {% if p.category %}
                                    <span class="badge badge-light float-right">
                                        <a href="{{p.category.get_absolute_url}}" style="color:	#FF6347;">{{p.category}}</a>
                                    </span>
                                {% else %}
                                    <span class="badge badge-light float-right">
                                        <a href="/item/category/no_category/" style="color:	#FF6347;">미분류</a>
                                    </span>
                                {% endif %}
                            <span class="text-decoration-line-through">{{item.price}}원</span><br>
                            <span>{{item.manufacturer | upper}}</span><br>
                            {% if item.seller %}
                                <a href="{{item.seller.get_absolute_url}}" style="color:	#FF6347;">{{item.seller}}</a>
                            {% else %}
                                <a href="/item/seller/no_seller/" style="color:	#FF6347;">셀러없음</a>
                            {% endif %}
                            <span>{{item.content}}</span>
                        </div>
                        <div>
                          <form action="{% url 'item:likes' item.pk %}" method='POST' class="float-right">
                            {% csrf_token %}
                              {% if user.is_authenticated %}
                                {% if user in item.like_users.all %}
                                  <input type="submit" value='♥  찜하기 취소' style="border:2px solid #FF6347; border-radius:20px; background-color:white; color:#FF6347;">
                                {% else %}
                                  <input type="submit" value='♡  찜하기' style="border:2px solid #FF6347; border-radius:20px; background-color:white; color:#FF6347;">
                                {% endif %}
                              {% endif %}
                          </form>
                        </div>
                        {% if item.tags.exists %}
                                <i class="fas fa-tag"></i>
                                {% for t in item.tags.iterator %}
                                    <span class="badge badge-pill badge-light">
                                        <a href="{{t.get_absolute_url}}" style="color:	#FF6347;">{{t}}</a>
                                    </span>
                                {% endfor %}
                                <br><br>
                            {% endif %}
                    </div>
                </div>
            </div>
        </section>
<!-- Comments section-->
                    <div id="comment-area" class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if user.is_authenticated %}
                                <form class="mb-4" id="comment-form" method="post"
                                action="{{item.get_absolute_url}}new_comment/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{comment_form | crispy}}
                                    </div>
                                    <button type="submit" class="btn btn-primary" style="background-color:#FF6347;border-color:#FF6347;">Submit</button>
                                </form>
                                {% else %}
                                <a role="button" class="btn btn-dark btn-block btn-sm mb-5" href="#"
                                    data-toggle="modal" data-target="#LoginModal">
                                    Log in and Leave a comment
                                </a>
                                {% endif %}
                                <!-- comment 대댓글 기능 지움 Comment with nested comments- -->
                                {% if item.comment_set.exists %} <!-- post의 comment 모델 불러오기(_set) 원래는 field불러오는거-->
                                    {% for comment in item.comment_set.iterator %}
                                    <!-- Single comment-->
                                    <div class="media d-flex" id="comment-{{comment.pk}}">
                                        <img class="mr-3 rounded-circle" src="{{comment.get_avatar_url}}" width="60px" alt="{{comment.author}}" />
                                        <div class="media-body ms-3">
                                            {% if user.is_authenticated and comment.author == user %}
                                                <div class="float-right">
                                                    <a role="button" class="btn btn-sm btn-light mr-1"
                                                       href="/item/update_comment/{{comment.pk}}/" style="color:#FF6347;border-color:#FF6347;">Edit</a>
                                                    <a role="button" href="#" id="comment-{{ comment.pk }}-delete-modal-btn"
                                                       class="btn btn-sm float-right btn-dark" style="background-color:#FF6347;border-color:#FF6347;"
                                                       data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">Delete</a>
                                                </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog"
                                                 aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <del>{{ comment | linebreaks }}</del>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <a role="button" class="btn btn-danger" href="/item/delete_comment/{{ comment.pk }}/">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="fw-bold">
                                                {{comment.author.username}}
                                                <small class="text-muted">{{comment.created_at}}</small>
                                            </div>
                                            <p>{{comment.content | linebreaks}}</p>
                                            {% if comment.created_at != comment.modified_at %}
                                            <p class="text-muted float-right">
                                                <small>Updated : {{comment.modified_at}}</small>
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
{% endblock %}
