{% extends 'item/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    Update - Item
{% endblock %}

{% block main_area %}
  <h1 class="mt-5">상품정보 편집</h1>
  <hr>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      {{form | crispy}}
      <div id="div_id_tags_str">
        <label for="id_tags">Tags:</label>
        <input type="text" id="id_tags" name="tags_str" value="{{tags_str_default}}"
                  class="textinput textInput form-control">
      </div>
    <button type="submit" class="btn btn-primary float-right mt-4 mb-5" style="background-color:#FF6347; border-color:#FF6347;">Submit</button>
  </form>
{% endblock %}