<!-- Search widget-->
{% load static %}
                    <div class="card mb-4 mt-5" id="search-card">
                        <div class="card-header"><i class="fa-solid fa-magnifying-glass"></i> Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search"
                                id="search-input"/>
                                <button class="btn btn-primary" id="button-search" type="button" onclick="searchItem();">Go!</button>
                            </div>
                        </div>
                    </div>
                    <script>
                        function searchItem(){
                            let searchValue = document.getElementById('search-input').value.trim();
                            if (searchValue.length >1){
                                location.href="/item/search/" + searchValue +"/";
                            }
                            else{
                                alert('검색어('+searchValue+')가 너무 짧습니다.');
                            }
                        };
                        document.getElementById('search-input').addEventListener('keyup',function(event){
                            if(event.key === 'Enter'){
                                searchItem();
                            }
                        });
                    </script>
                    <link rel="stylesheet" href="{% static 'item/css/sidebar.css' %}" type="text/css" media="screen">
                    <!-- Categories widget-->
                    <div class="card mb-4" id='category-card'> <!-- 25 id추가-->
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
<!--25 주석                                <div class="col-sm-6">-->
                                    <ul class="list-unstyled mb-0">
                                        {% for c in categories %}
                                            <li><a id="lia" href="{{c.get_absolute_url}}">{{c}} ({{c.item_set.count}})</a></li>
                                        {% endfor %}
                                            <li><a id="lia" href="/item/category/no_category/">미분류 ({{no_category_item_count}})</a></li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Seller widget-->
                    <div class="card mb-4" id='seller-card'> <!-- 25 id추가-->
                        <div class="card-header">Sellers</div>
                        <div class="card-body">
                            <div class="row">
                                    <ul class="list-unstyled mb-0">
                                        {% for s in sellers %}
                                            <li><a id="lia" href="{{s.get_absolute_url}}">{{s}} ({{s.item_set.count}})</a></li>
                                        {% endfor %}
                                            <li><a id="lia" href="/item/seller/no_seller/">미분류 ({{no_seller_item_count}})</a></li>
                                    </ul>
                            </div>
                        </div>
                    </div>

