<!DOCTYPE html>
{% load static %}
<html lang="ko"> <!-- 4 ko 로 바꾸기 -->
    <head>
        <meta charset="utf-8" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <link href="{% static './item/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'single_page/css/about_us.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <style>
            body{
                font-family: Neue Montreal Medium Regular, "Malgun Gothic", serif;
                color: #3A3C41;
            }
        </style>
    </head>
    <body>
        {% include 'item/navbar.html' %}
        <div class="bg-image-full" id="back">
            <img src="/static/item/logo2.png" id="imgs">
        </div>
         <section class="page-section mt-5" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase" id="colorcss">Services</h2>
                    <h4 class="section-subheading text-muted">세모라면의 기능을 소개합니다.</h4>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <i class="bi bi-building" id="ico"></i>
                        <h3 class="my-3" id="colorcss">제조사 검색</h3>
                        <p class="text-muted">좋아하시는 제조사가 따로 있으신가요? <br> 제조사를 검색해보세요!</p>
                    </div>
                    <div class="col-md-4">
                        <i class="bi bi-person-check" id="ico"></i>
                        <h3 class="my-3" id="colorcss">판매자별 분류</h3>
                        <p class="text-muted">각 판매자가 파는 상품만 모아보실 수 있습니다. 판매자에 대한 정보도 함께 보실 수 있어요!</p>
                    </div>
                    <div class="col-md-4">
                        <i class="bi bi-tags" id="ico"></i>
                        <h3 class="my-3" id="colorcss">편리한 태그</h3>
                        <p class="text-muted">다양하고 편리한 태그들로 원하시는 맛의 새로운 라면을 발견해보세요!</p>
                    </div>
                </div>
            </div>
         </section>
        <section class="margin-for-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center mb-5" id="colorcss">
                        <h2>PERFORMANCE GRAPH</h2>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6 ">
                        <div class="card" data-toggle="modal" data-target="#portfolio2">

                            <div class="card-body" id="divcard">
                                <div class="mt-5 text-center text-light" id="divtext">
                                    <h5 class="mt-2 mb-2">Category</h5>
                                </div>

                            </div>
                            <div class="card-body">
                                <h5>카테고리</h5>
                                <p>카테고리별 그래프입니다.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="card" data-toggle="modal" data-target="#portfolio3">
                            <div class="card-img-top" id="mychart1"></div>
                            <div class="card-body">
                                <h5>판매자</h5>
                                <p>판매자별 그래프입니다.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <script>
            google.charts.load('current',{'packages':['line']}); //bar가 아니라 line으로 넣으면 선 차트
            google.charts.setOnLoadCallback(drawChart);

            function drawChart(){
                var data = google.visualization.arrayToDataTable([
                ['Seller', 'Item'],
                {% for s in sellers %}
                ['{{s}}', {{s.item_set.count}}],
                {% endfor %}
                ['미분류',{{no_seller_item_count}}],
                ]);
                var options = {
                 chart: {
                    title: ' Seller Performance',
                    subtitle : ' 판매자별 상품 현황'
                 }
                };
                var chart = new google.charts.Line(document.getElementById('mychart1')); //Bar->Line으로 바꾸기
                chart.draw(data, google.charts.Line.convertOptions(options)); //Bar->Line으로 바꾸기
            };

            google.charts.load('current',{'packages':['corechart']}); //파이차트는 corechart
            google.charts.setOnLoadCallback(drawChart2);

            function drawChart2(){
                var data = google.visualization.arrayToDataTable([
                ['Category', 'Item'],
                {% for c in categories %}
                ['{{c}}', {{c.item_set.count}}],
                {% endfor %}
                ['미분류',{{no_category_item_count}}]
                ]);
                var options = {
                 chart: {
                    title: 'Category Performance'
                 }
                };
                var chart = new google.visualization.PieChart(document.getElementById('mychart2'));
                chart.draw(data, options);
            };


        </script>
        <!--Modal2-->
        <div class="modal fade" id="portfolio2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">카테고리 그래프</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-img-top" id="mychart2"></div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal3-->
        <div class="modal fade" id="portfolio3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">판매자 현황</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">

                                <table class="table table-boundary table-striped">
                                    <tr><th>Seller</th><th>Item</th></tr>
                                    {% for s in sellers %}
                                    <tr><th>{{s}}</th><td>{{s.item_set.count}}</td></tr>
                                    {% endfor %}
                                    <tr><th>미분류</th><td>{{no_seller_item_count}}</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
          {% include 'item/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    </body>
</html>
