<!DOCTYPE html>
{% load static %}
<html lang="ko"> <!-- 4 ko 로 바꾸기 -->
    <head>
        <meta charset="utf-8" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <link href="{% static './item/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'single_pages/css/about_us.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
       </head>
    <body>
        {% include 'item/navbar.html' %}
        <header class="py-5 bg-image-full" id="back">
            <div class="text-center">
                <img class="img-fluid rounded-circle" src="../static/single_pages/images/ramyun.jpg" alt="ramyun" />
                <h1 class="mt-5 fs-3 fw-bolder">라면가게</h1>
                <h4 class="mb-0">어서오세요~</h4>
            </div>
        </header>
        <section>
<!--            <div class="text-center">-->
<!--                <img class="img-fluid rounded-circle" src="../static/single_pages/images/aboutme.png" alt="aboutme" />-->
<!--                <h1 class="mt-5 fs-3 fw-bolder">김서영</h1>-->
<!--                <h4 class="mb-0">컴퓨터공학전공 20200706</h4>-->
<!--            </div>-->
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7 mt-5">
                        <h2>온라인에서 편리하게 라면을 사보세요!</h2>
                        <p class="lead">낱개 구매도 ok!</p>
                        <p class="mb-0">한국 라면 외에도, 세계 각국의 라면을 다양하게 만나실 수 있습니다~</p>
                    </div>
                </div>
            </div>
        </section>
         <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h4 class="section-subheading text-muted">저희만의 기능을 소개합니다.</h4>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <i class="bi bi-building" id="ico"></i>
                        <h3 class="my-3">제조사별 분류</h3>
                        <p class="text-muted">좋아하시는 제조사가 따로 있으신가요? <br> 제조사별로 모아보세요!</p>
                    </div>
                    <div class="col-md-4">
                        <i class="bi bi-person-check" id="ico"></i>
                        <h3 class="my-3">판매자별 분류</h3>
                        <p class="text-muted">각 판매자가 파는 상품만 모아보실 수 있습니다. 판매자에 대한 정보도 함께요!</p>
                    </div>
                    <div class="col-md-4">
                        <i class="bi bi-tags" id="ico"></i>
                        <h3 class="my-3">편리한 태그</h3>
                        <p class="text-muted">다양하고 편리한 태그들로 원하시는 맛의 새로운 라면을 발견해보세요!</p>
                    </div>
                </div>
            </div>
         </section>
<!--        <section>-->
<!--          <div class="container">-->
<!--              <div class="row justify-content-between">-->
<!--                  <div class="col-lg-6 text-light">-->
<!--                      <h1 class="mt-5">어서오세요. 라면가게입니다.</h1>-->
<!--                      <p>편하게 둘러보세요~</p>-->
<!--                  </div>-->
<!--                  <div class="col-lg-5 mt-5">-->
<!--                      <h2 class="text-light">Item - Recent items</h2>-->
<!--                      {% for item in recent_items %}-->
<!--                          <div class="card mt-1">-->
<!--                              <div class="card-body">-->
<!--&lt;!&ndash;                                  <img class="mr-1" width="20px" src="{{ item.head_image }}" alt="{{item.manufacturer}}">&ndash;&gt;-->
<!--                                  <h6><a href="{{ item.get_absolute_url }}" class="text-decoration-none text-dark">{{ item.name }}</a></h6>-->
<!--                                  <span class="badge badge-pill badge-light float-right">-->
<!--                                      {{ item.seller.name }}-->
<!--                                      {{ item.price }}-->
<!--                                  </span>-->
<!--                              </div>-->
<!--                          </div>-->
<!--                      {% endfor %}-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
<!--      </section>-->
<!--        <div class="fixed-bottom">-->
          {% include 'item/footer.html' %}
<!--        </div>        &lt;!&ndash; Bootstrap core JS&ndash;&gt;-->
    </body>
</html>
