<!DOCTYPE html>
{% load static %}
<html lang="ko"> <!-- 4 ko 로 바꾸기 -->
    <head>
        <meta charset="utf-8" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <link href="{% static './item/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static 'single_page/css/about_us.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <style>
            body{
                font-family: Georgia, "Malgun Gothic", serif;
            }
        </style>
    </head>
    <body>
        {% include 'item/navbar.html' %}
        <header class="py-5 bg-image-full" id="back">
            <div class="text-center">
                <img class="img-fluid rounded-circle" src="../static/single_pages/images/ramyun.jpg" alt="ramyun" />
                <h1 class="mt-5 fs-3 fw-bolder">라면가게</h1>
                <h4 class="mb-0">어서오세요~</h4>
            </div>
        </header>
        <section>
<!--            <div class="text-center">-->
<!--                <img class="img-fluid rounded-circle" src="../static/single_pages/images/aboutme.png" alt="aboutme" />-->
<!--                <h1 class="mt-5 fs-3 fw-bolder">김서영</h1>-->
<!--                <h4 class="mb-0">컴퓨터공학전공 20200706</h4>-->
<!--            </div>-->
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7 mt-5">
                        <h2>온라인에서 편리하게 라면을 사보세요!</h2>
                        <p class="lead">낱개 구매도 ok!</p>
                        <p class="mb-0">한국 라면 외에도, 세계 각국의 라면을 다양하게 만나실 수 있습니다~</p>
                    </div>
                </div>
            </div>
        </section>
         <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h4 class="section-subheading text-muted">저희만의 기능을 소개합니다.</h4>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <i class="bi bi-building" id="ico"></i>
                        <h3 class="my-3">제조사별 분류</h3>
                        <p class="text-muted">좋아하시는 제조사가 따로 있으신가요? <br> 제조사별로 모아보세요!</p>
                    </div>
                    <div class="col-md-4">
                        <i class="bi bi-person-check" id="ico"></i>
                        <h3 class="my-3">판매자별 분류</h3>
                        <p class="text-muted">각 판매자가 파는 상품만 모아보실 수 있습니다. 판매자에 대한 정보도 함께요!</p>
                    </div>
                    <div class="col-md-4">
                        <i class="bi bi-tags" id="ico"></i>
                        <h3 class="my-3">편리한 태그</h3>
                        <p class="text-muted">다양하고 편리한 태그들로 원하시는 맛의 새로운 라면을 발견해보세요!</p>
                    </div>
                </div>
            </div>
         </section>
        <section class="margin-for-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>PORTFOLIO</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card" data-toggle="modal" data-target="#portfolio1">
                            <img class="card-img-top" src="{% static 'single_pages/images/aboutme.png' %}">
                            <div class="card-body">
                                <h5>첫번째 포트폴리오</h5>
                                <p>첫번째 포트폴리오입니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" data-toggle="modal" data-target="#portfolio2">
                            <img class="card-img-top" src="{% static 'single_pages/images/cloud.png' %}">
                            <div class="card-body">
                                <h5>카테고리</h5>
                                <p>카테고리별 원형 그래프입니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" data-toggle="modal" data-target="#portfolio3">
                            <div class="card-img-top" id="mychart1"></div>
                            <div class="card-body">
                                <h5>제조사</h5>
                                <p>제조사별 그래프입니다.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <script>
            google.charts.load('current',{'packages':['line']}); //bar가 아니라 line으로 넣으면 선 차트
            google.charts.setOnLoadCallback(drawChart);

            function drawChart(){
                var data = google.visualization.arrayToDataTable([
                ['Manufacturer', 'Item'],
                ['농심', 10],
                ['오뚜기', 4],
                ['삼양', 4],
                ['팔도', 2]
                ]);
                var options = {
                 chart: {
                    title: 'Manufacturer Performance',
                    subtitle : '제조사별 상품 현황'
                 }
                };
                var chart = new google.charts.Line(document.getElementById('mychart1')); //Bar->Line으로 바꾸기
                chart.draw(data, google.charts.Line.convertOptions(options)); //Bar->Line으로 바꾸기
            };

            google.charts.load('current',{'packages':['corechart']}); //파이차트는 corechart
            google.charts.setOnLoadCallback(drawChart2);

            function drawChart2(){
                var data = google.visualization.arrayToDataTable([
                ['Category', 'Item'],
                ['봉지라면', 5],
                ['짜장라면', 2],
                ['컵라면', 2],
                ['볶음라면', 6]
                ]);
                var options = {
                 chart: {
                    title: 'Category Performance',
                    subtitle : 'Sales : 2014-2017'
                 }
                };
                var chart = new google.visualization.PieChart(document.getElementById('mychart2'));
                chart.draw(data, options);
            };


        </script>

        <!--Modal-->
        <div class="modal fade" id="portfolio1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">포트폴리오 1</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <h5>첫번째 포트폴리오</h5>
                                <p>첫번째 포트폴리오입니다. 상세한 설명을 하고 있습니다.</p>
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal2-->
        <div class="modal fade" id="portfolio2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">카테고리 그래프</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-img-top" id="mychart2"></div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal3-->
        <div class="modal fade" id="portfolio3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">제조사 현황</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">

                                <table class="table table-boundary table-striped">
                                    <tr><th>Manufacturer</th><th>Item</th></tr>
                                    <tr><th>농심</th><td>10</td></tr>
                                    <tr><th>오뚜기</th><td>4</td></tr>
                                    <tr><th>삼양</th><td>4</td></tr>
                                    <tr><th>팔도</th><td>2</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
<!--        <section>-->
<!--          <div class="container">-->
<!--              <div class="row justify-content-between">-->
<!--                  <div class="col-lg-6 text-light">-->
<!--                      <h1 class="mt-5">어서오세요. 라면가게입니다.</h1>-->
<!--                      <p>편하게 둘러보세요~</p>-->
<!--                  </div>-->
<!--                  <div class="col-lg-5 mt-5">-->
<!--                      <h2 class="text-light">Item - Recent items</h2>-->
<!--                      {% for item in recent_items %}-->
<!--                          <div class="card mt-1">-->
<!--                              <div class="card-body">-->
<!--&lt;!&ndash;                                  <img class="mr-1" width="20px" src="{{ item.head_image }}" alt="{{item.manufacturer}}">&ndash;&gt;-->
<!--                                  <h6><a href="{{ item.get_absolute_url }}" class="text-decoration-none text-dark">{{ item.name }}</a></h6>-->
<!--                                  <span class="badge badge-pill badge-light float-right">-->
<!--                                      {{ item.seller.name }}-->
<!--                                      {{ item.price }}-->
<!--                                  </span>-->
<!--                              </div>-->
<!--                          </div>-->
<!--                      {% endfor %}-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
<!--      </section>-->
<!--        <div class="fixed-bottom">-->
          {% include 'item/footer.html' %}
<!--        </div>        &lt;!&ndash; Bootstrap core JS&ndash;&gt;-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    </body>
</html>
