body{
    background-color:white;
    font-family: Neue Montreal Medium Regular, "Malgun Gothic", serif;
    color: #3A3C41;
}
#colorcss{
    color:#FF6347;
}
#divimg{
    border:3px solid #F7F0E8;
    border-radius:5px;
    padding-bottom:20px;
}
#cbtn,#ebtn{
    background-color:#FF6347;
    color:white;
}
#carddiv{
    max-height:120px;
}
#itemimg{
    margin-top:-5px;
    margin-left:-13px;
    width:70px;
}