body{
    font-family: Neue Montreal Medium Regular, "Malgun Gothic", serif;
    color: black;
    background:url('../images/main2.jpg'); background-size:cover;
}
section{
    margin-bottom:150px;
    height:800px;
}
.card {
    background-color: rgba(255, 255, 255, 0.6);
}
#divside{
    width:300px; margin-right:-80px
}
#divcard{
    border:2px solid #F7F0E8;
}