body{
    background: url('/static/single_page/images/ramyun3.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    font-family: Georgia, "Malgun Gothic", serif;
}
section{
    margin-bottom:150px;
}
.card {
    background-color: rgba(255, 255, 255, 0.6);
}